<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- 定义目标 -->
	<targets>
		<!-- 将日志写入文件 -->
		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}" />

		<!-- 将日志输出到控制台 -->
		<target xsi:type="Console" name="console"
				layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<!-- 定义规则 -->
	<rules>
		<!-- 将所有日志记录到文件和控制台 -->
		<logger name="*" minlevel="Trace" writeTo="file,console" />
	</rules>
</nlog>
